# --- Fichiers d'Eclipse ---
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.env
# --- Fichiers de compilation et serveur ---
build/
target/
.deployables/
.recommenders/

# --- Logs et fichiers temporaires de Tomcat ---
logs/
work/
temp/

# --- Fichiers Système ---
.DS_Store
Thumbs.db
apache-tomcat-9.0.100/
# --- Sécurité (IMPORTANT) ---

